
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*Estilização geral do site*/
body{
    height: 100%;
}
a{
    text-decoration: none /*decoração do texto*/
}
.botao{
    color: #FEC63E;
    border: 3px solid #FEC63E;
    letter-spacing: .1em;
    text-transform:uppercase;
    padding: 8px 30px; 
    transition: 0.5s;  /*Transição do hover de saída*/
}
.botao:hover{
    border: 4px solid #000;
    padding: 9px 31px;
    color: #000;
    font-size: 110%;
    transition: 0.5s; /*Transição do hover de entrada*/

}

/* Header*/
header{
    background-color:#FEC63E;
    padding: 10px 0px;
    border-bottom: 2px solid black;
}
/*Menu*/
.header_menu{
    display: inline-block; /*colodar os elementos em linha*/
    margin-top: 25px;
    text-align: right;
}
.header_menu ul li{
    display: inline-block;
}
.header_menu li a{
    color: black;
    font-weight: bold; /*negrito*/
    font-size: 15px;
    padding: 15px; /*Cria um espaçamento entre os elementos ou borda*/
    text-transform: uppercase; /*Deixar os caracteres em caixa alta*/
    transition: 0.2s;
}
.header_menu li a:hover{/*Cursor do mouse*/
    color: rgb(255, 255, 255);
    transition: 0.2s;
}
.intro_cont{
    background-image:url("../Img/bg-contato.jpg");
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding-top: 20px;
}
.intro_cont h1{
    color:#FFF;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
}
.intro_cont p{
    color: #FFF;
    text-shadow: 2px 2px 2px #000;
    font-size: 105%;
}
.intro_cont p::before{
    content: "";
    background-color: #FFF;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto;
}
.form{
    background-color:#FFF;
    height: 540px;
    padding-top: 90px;
    position: relative;
    
}
fieldset p{
    color: black;
    font-size: 100%;
    font-weight: bold;
    display: block;
    padding-top: 10px;
    padding-bottom: 4px;
    margin-left: 20%;
}
input{
    border: solid 3px #FEC63E;
    width: 80%;
    height: 35px;
    margin-left: 20%;
    outline-style: none; 
    border-radius: 3px;
    color:black;
    padding-left: 5px;
}
textarea{
    margin-left: 20%; 
    width: 80%;
    border: solid 3px #FEC63E;
    outline-style:none;
    border-radius: 3px;
}
button{
    color: #FEC63E;
    border: 3px solid #FEC63E;
    letter-spacing: .1em;
    text-transform:uppercase;
    padding: 15px 30px;
    margin-top: 50px;
    margin-left: 20%; 
    transition: 0.5s;  /*Transição do hover de saída*/
    text-decoration:  none;
    background-color: #fff;
}
button:hover{
    border: 4px solid #000;
    color: #000;
    margin-left: 19%; 
    font-size: 102%;
    transition: 0.5s; /*Transição do hover de entrada*/
}
.form1{
    background-color: rgb(255, 255, 255);
    height: 540px;
    padding-top: 95px;
    position: relative;
}
.texto{
    font-size: 90%;
    margin-left: 4%;
    padding-bottom: 10px;
    line-height: 20px;
    color:#000;
}
.form2{
    height: 330px;
    width: 100%;
    background-color:rgb(255, 255, 255) ;
    padding-top: 40px;
    position: relative;
    
}
.titulo{
    color:#FEC63E;
    font-size:110%;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-left: 4%;
}

.form2 p{
    color: #000;
    font-size: 90%;
    margin-left: 4%;
    padding-bottom: 10px;
    line-height: 20px;;
}
.form2 .titulo{
    color:#FEC63E;
    font-size:110%;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-left: 4%;
}

select{
    outline-style: none;
    border:none;
    font-size: 90%;
    padding: 4px;
    color:#000000;
    font-weight: bold;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: #FEC63E solid 3px;
    border-radius: 4px;
    transition: 0.2s;
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2px;
}
select:hover{
    background-color: rgba(254, 196, 62, 0.651);
    transition: 0.2s;
}
.select_default{
    font-weight: bold;
    color:#000;
    top: 100%;
    top: 100%;
    transition: 0.1s;
    font-size: 105%;
}
option{
    background-color: rgba(254, 196, 62, 0.651);
}
.select_itens{
    width: 55%;
    height: 175px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 10px;
    position:absolute;
    margin-left: 145px;
}
label{
    margin-left: 4%;
    color:black;
    font-weight: bold;
    font-size: 90%;
    display:inline-flex;
    padding-right: 2%;
    padding-bottom: 22px;
    padding-top: 14px;
}
.label{
    width: 100px;
    height: 170px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 4%;
    margin-top: 10px;
    position:absolute;
}
.backmapa{
    display: flex;
    justify-content: center;
    width: 100%;
    height:700px;
    background-color: rgb(255, 255, 255);
    margin-top: 630px;
    position: absolute;
}
.mapa{
    display:flex;
    justify-content: center;
    position: relative;
    height:600px;
    width: 80%;
    border: 4px solid #FEC63E;
    box-shadow: 0px 0px 25px #2c2727;
    border-radius: 4px;
}
iframe{
    width: 100%;
    height: 100%;
}

 /* RODAPÉ - SITE  */
.img_citacao{
    width: 100%;
    height: 250px;
    display: block;
    position:relative;
    text-align:center;
    top: 1300px;
    background-image: url("../Img/bg-footer.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: top;
    border-top: black 2px solid;
}
.citacao2{
    height: 100%;
    width: 100%;
    text-align: center; 
    padding: 50px 30%;   
    position:absolute;
}
.citacao2 p{
    font-size: 110%;
    color:#fff;
    display:block;
    position: relative;
    letter-spacing: .1em; 
    line-height: 22px; 
}
.citacao2 p::after, .citacao2 p::before{
    content: "";
    width: 150px;
    height: 3px;
    display: block;
    background-color: #FFF;
    margin: 20px auto;
    position:relative;
}
.citacao2 cite{
    display: block;
    padding-top: 2%;
    text-align: end;
    font-size: 110%;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    width: 100%;
    height: 300px;
    background-color:#000;
    display: block;
    position: relative;
    top: 1300px;
}
.rodape1{
    display: block;
    position: absolute;
    height: 300px;
    padding-top: 50px;
    width: 40%;
    padding-right: 10%;
    margin-left: 5%;
}
.rodape2{
    display: block;
    position: absolute;
    height: 300px;
    margin-left: 45%;
    padding-top: 50px;
    width: 25%;
    padding-right: 3%;
}
.rodape3{
    display: block;
    position: absolute;
    height: 300px;
    margin-left: 70%;
    padding-top: 50px;
    width: 30%;
}
footer p{
    color:rgb(255, 255, 255);
    line-height: 25px; 
    margin-left: 7%;
    font-size: 105%;
}
.titulo_rodape{
    color:#FEC63E;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 130%;
    font-weight: bold;
    margin-left: 7%;
}
.titulo_rodape::after{
    content: "";
    width: 112px;
    height: 3px;
    display: block;
    background-color: #FEC63E;
    margin: 10px 0px;
    position:relative;
}
.facebook{
    border: solid 2px #FEC63E;
    padding:8px;
    margin-left: 7%;
    text-decoration: none;
    border-radius: 4px;
    position:relative;
    transition: 0.2s;
}
.instagram{
    border: solid 2px #FEC63E;
    padding:8px;
    margin-left: 2%;
    text-decoration: none;
    border-radius: 4px;
    position:relative;
    transition: 0.2s;
}
.twitter{
    border: solid 2px #FEC63E;
    border-radius: 4px;
    padding:8px;
    margin-left: 2%;
    text-decoration: none;
    transition: 0.2s;
}
.facebook:hover{
    box-shadow:0px 0px 10px #FEC63E;
    transition: 0.2s;
    background-color:#fec43e2f;
}
.instagram:hover{
    box-shadow:0px 0px 10px #FEC63E;
    transition: 0.2s;
    background-color:#fec43e2f;
}
.twitter:hover{
    box-shadow:0px 0px 10px #FEC63E;
    transition: 0.2s;
    background-color:#fec43e2f;
}
.rodape4{
    background-color: #FEC63E;
    width: 100%;
    height: 50px;
    display: block;
    position: relative;
    top: 1300px;
    text-align: center;
    padding-top: 18px;
}
.rodape4 p{
    color:black;
    font-size: 97%;
    font-weight: bold;
    text-decoration: none;
}

    /* border-top: rgb(202, 202, 202) solid 2px;
    border-bottom: rgb(202, 202, 202) solid 2px;
    border-left: rgb(202, 202, 202) solid 2px; */

/* .citacao{
    width: 100%;
    height: 350px;
    background-color: #FEC63E;
    position: relative;
 */

/* .citacao2 p::before {
    content: "";
    width: 150px;
    height: 3px;
    display: block;
    background-color: #FFF;
    margin: 20px auto;
    position:relative;
}
.citacao2 p::after{
    content: "";
    width: 150px;
    height: 3px;
    display: block;
    background-color: #FFF;
    margin: 20px auto;
    position:relative;
}
.citacao2 cite{
    text-transform: uppercase;
    color:#fff;
    margin: 0px;
    font-size: 20px;
} */